In [3]:
#Imports
import pandas as pd

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [85]:
# Reading GLCM unclean
df_train =pd.read_csv('/content/drive/MyDrive/GLCM/train.csv')
df_test = pd.read_csv('/content/drive/MyDrive/GLCM/test.csv')
df_val = pd.read_csv('/content/drive/MyDrive/GLCM/val.csv')

In [86]:
display(df_train)

,Patient ID,Slice ID,Lung Volume,Angular_Second_Momentum,Contrast,Correlation,Entropy
0,ID00007637202177411956430,1,0,NaN,NaN,NaN,NaN
1,ID00007637202177411956430,10,45163,0.002000,63.558,0.002000,7.126
2,ID00007637202177411956430,11,48264,0.002000,67.037,0.002000,7.179
3,ID00007637202177411956430,12,49509,0.001000,61.217,0.002000,7.278
4,ID00007637202177411956430,13,51046,0.001000,68.085,0.002000,7.340
...,...,...,...,...,...,...,...
4333,ID00426637202313170790466,392,0,NaN,NaN,NaN,NaN
4334,ID00426637202313170790466,403,0,NaN,NaN,NaN,NaN
4335,ID00426637202313170790466,48,2888,0.000545,160.860,0.001000,7.874
4336,ID00426637202313170790466,6,0,NaN,NaN,NaN,NaN
4337,ID00426637202313170790466,71,8659,0.000384,248.262,0.000867,8.362

In [87]:
# Make Slice Id to go from 0 to 29 
def slice_proper(df):
  df_clean=pd.DataFrame(columns = ["Patient ID","Slice ID","Lung Volume","Angular_Second_Momentum","Contrast","Correlation","Entropy","New_Slice"])
  Pat_unique=df['Patient ID'].unique()
  for pat in Pat_unique:
    r_df = df[df['Patient ID'] == pat] 
    sorted_r=r_df.sort_values(by=['Slice ID'])
    new_slice=[i for i in range(len(sorted_r))]
    sorted_r["New_Slice"]=new_slice
    df_clean=df_clean.append(sorted_r)
  return df_clean

In [88]:
#Cleaning
c_df_train=slice_proper(df_train)
c_df_test=slice_proper(df_test)
c_df_val=slice_proper(df_val)
print(c_df_val)

                    Patient ID Slice ID Lung Volume  Angular_Second_Momentum  \
0    ID00019637202178323708467        1           0                      NaN
11   ID00019637202178323708467        2           0                      NaN
22   ID00019637202178323708467        3           0                      NaN
23   ID00019637202178323708467        4        6636                 0.000701
24   ID00019637202178323708467        5       18246                 0.000784
..                         ...      ...         ...                      ...
264  ID00119637202215426335765       55        3464                 0.000674
265  ID00119637202215426335765       57        1298                 0.000803
266  ID00119637202215426335765       59         210                 0.001000
267  ID00119637202215426335765       60           0                      NaN
268  ID00119637202215426335765       62           0                      NaN

     Contrast  Correlation  Entropy New_Slice
0         NaN          NaN      NaN         0
11        NaN          NaN      NaN         1
22        NaN          NaN      NaN         2
23    164.220     0.001000    7.551         3
24    132.880     0.001000    7.751         4
..        ...          ...      ...       ...
264   179.774     0.001000    7.762        25
265   188.201     0.001000    7.462        26
266   224.857     0.000995    7.088        27
267       NaN          NaN      NaN        28
268       NaN          NaN      NaN        29

[269 rows x 8 columns]

In [102]:
def Create_clean_data_frame(df):
  df_GLCM_ALL=pd.DataFrame(columns = ["Patient","Lung Volume","T_ASM","T_Contrast","T_Correlation","T_Entropy","M_ASM","M_Contrast","M_Correlation","M_Entropy","B_ASM","B_Contrast","B_Correlation","B_Entropy"])
  Pat_unique=df['Patient ID'].unique()
  for kkk,pat in enumerate(Pat_unique):
    r_df = df[df['Patient ID'] == pat] 
    column = r_df["Lung Volume"]
    max_value_Lung_Volume = column.max()
    #print(max_value_Lung_Volume)
    rdf_len=len(r_df)
    
    # First partition - Top 
    top=r_df[r_df['New_Slice'] <= rdf_len/3]
    top.dropna(inplace=True)
    top_ASM=top['Angular_Second_Momentum'].mean()
    top_Contrast=top['Contrast'].mean()
    top_Correlation=top['Correlation'].mean()
    top_Entropy=top['Entropy'].mean()
   

    #Middle
    Mid=r_df[(r_df['New_Slice'] <= 2*rdf_len/3) & (r_df['New_Slice'] > rdf_len/3)]
    Mid.dropna(inplace=True)
    Mid_ASM=Mid['Angular_Second_Momentum'].mean()
    Mid_Contrast=Mid['Contrast'].mean()
    Mid_Correlation=Mid['Correlation'].mean()
    Mid_Entropy=Mid['Entropy'].mean()

    #Bottom
    Bot=r_df[r_df['New_Slice'] > 2*rdf_len/3]
    Bot.dropna(inplace=True)
    Bot_ASM=Bot['Angular_Second_Momentum'].mean()
    Bot_Contrast=Bot['Contrast'].mean()
    Bot_Correlation=Bot['Correlation'].mean()
    Bot_Entropy=Bot['Entropy'].mean()
    df_GLCM_ALL.loc[len(df_GLCM_ALL.index)]=[pat,max_value_Lung_Volume,top_ASM,top_Contrast,top_Correlation,top_Entropy,Mid_ASM,Mid_Contrast,Mid_Correlation,Mid_Entropy,Bot_ASM,Bot_Contrast,Bot_Correlation,Bot_Entropy]
  return df_GLCM_ALL

In [103]:
df_train_GLCM=Create_clean_data_frame(c_df_train)
df_test_GLCM=Create_clean_data_frame(c_df_test)
df_val_GLCM=Create_clean_data_frame(c_df_val)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [104]:
print(len(df_test_GLCM))

17

In [105]:
print(df_test_GLCM)

                      Patient Lung Volume     T_ASM  T_Contrast  \
0   ID00010637202177584971671       51270  0.000310  322.540667
1   ID00025637202179541264076      136598  0.003750   37.176250
2   ID00038637202182690843176      145693  0.002579   47.430000
3   ID00061637202188184085559       56571  0.001735   94.796125
4   ID00077637202199102000916       72085  0.000563  147.049625
5   ID00082637202201836229724      121449  0.003889   28.581333
6   ID00089637202204675567570      160140  0.001214  172.583625
7   ID00104637202208063407045       47612  0.003200   39.447900
8   ID00123637202217151272140       63039  0.000614  965.592000
9   ID00125637202218590429387       44551  0.001667   90.731833
10  ID00128637202219474716089         330  0.163750  235.574000
11  ID00131637202220424084844       51510  0.000603  154.238778
12  ID00135637202224630271439       70847  0.000597  203.625000
13  ID00139637202231703564336       70263  0.006000   42.789778
14  ID00149637202232704462834       74441  0.003000   60.373125
15  ID00165637202237320314458       41172  0.003000   51.359750
16  ID00167637202237397919352       66250  0.003200   74.199900

    T_Correlation  T_Entropy     M_ASM  M_Contrast  M_Correlation  M_Entropy  \
0        0.000675   8.487833  0.000304  286.367800       0.000676   8.553200
1        0.002125   6.521875  0.003000   36.973625       0.002500   6.710500
2        0.000694   7.064400  0.002096   43.696400       0.000707   7.117100
3        0.001123   7.161625  0.001065  104.407400       0.000982   7.459200
4        0.000947   7.948375  0.000481  180.040100       0.000680   8.195300
5        0.002000   6.493000  0.004200   23.848100       0.002100   6.299600
6        0.000764   8.199625  0.003500  118.185000       0.000759   7.768800
7        0.001493   6.691800  0.004100   37.015600       0.000881   6.572400
8        0.000463   8.493333  0.000697  452.996200       0.000602   8.959600
9        0.002167   7.047667  0.001143   96.603714       0.002429   7.233286
10       0.001500   4.320250       NaN         NaN            NaN        NaN
11       0.001094   7.905889  0.000524  156.942700       0.000987   8.076500
12       0.000950   7.995000  0.000983  129.052000       0.000932   7.564000
13       0.000522   6.509000  0.004700   51.242300       0.000417   6.680100
14       0.002375   6.663875  0.002500   53.499900       0.002100   6.731600
15       0.002000   6.634500  0.002000   58.262250       0.002000   6.999500
16       0.002000   7.011700  0.001258  101.002000       0.001900   7.394600

       B_ASM  B_Contrast  B_Correlation  B_Entropy
0   0.000341  395.675000       0.000850   8.419429
1   0.002167   42.433500       0.003333   6.776833
2   0.000903   63.791833       0.000712   7.605833
3   0.000680  142.879000       0.001143   7.730429
4   0.000508  205.392250       0.001049   8.087125
5   0.003667   27.301889       0.003444   6.347889
6   0.006000  162.995000       0.000772   7.790000
7   0.004375   39.518625       0.000946   6.473500
8   0.002105  397.495667       0.000587   8.305333
9   0.001488  146.699250       0.002250   6.920000
10       NaN         NaN            NaN        NaN
11  0.000515  188.291000       0.001143   7.999286
12  0.000906  101.861875       0.001500   7.456750
13  0.005556   42.880111       0.000671   6.483333
14  0.002200   60.179800       0.002800   6.807000
15  0.002000   55.229333       0.002333   6.726667
16  0.000995  160.359222       0.001444   7.594444

In [106]:
df_test_GLCM.to_csv("/content/drive/MyDrive/GLCM_test.csv")
df_train_GLCM.to_csv("/content/drive/MyDrive/GLCM_train.csv")
df_val_GLCM.to_csv("/content/drive/MyDrive/GLCM_val.csv")